---
import {LOCAL_PROVIDER_NAME} from "astro/dist/assets/fonts/constants";
const pageTitle = "About Me";

const identity = {
    firstName: "Dhyan",
    lastName: "S",
    interests: ["space", "sports", "programming", "engineering"],
    location: "Boston, Massachusetts",
    country: "United States"
}

const showLocation = true;


const happy = true;
const finished = false;
const grade = 3;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
</head>
<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<h1>{pageTitle}</h1>
<h2>... and my new Astro site!</h2>

<h2>This website was made by {identity.firstName} {identity.lastName}!
    Foreign currencies have piqued my intrest for as long as i can remember.
    {showLocation && <p>I reside in {identity.location}, {identity.country}.</p>}
    My interests include {identity.interests.join(", ")}.
    My favorite of them include {identity.interests[0]} and {identity.interests[2]}.



    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {grade === 3 ? <p>I am in high school</p> : <p>I am not in high school</p>}
</h2>
</body>
</html>