---
import Base from '../components/Base.astro';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';


const pageTitle = "About Me";

const identity = {
    firstName: "Dhyan",
    lastName: "S",
    interests: ["space", "sports", "programming", "engineering"],
    location: "Boston, Massachusetts",
    country: "United States",
}

const skills = ["Java", "YAML", "Markdown", "HTML", "CSS", "Astro!!"];

const skillColor = "green";
const skillColorListTest = {
    Java: "red",
    YAML: "blue",
    Markdown: "green",
    HTML: "orange",
    CSS: "purple",
    Astro: "cyan"}

const showLocation = true;


const happy = true;
const finished = false;
const grade = 3;


---

<layout>
    <Base />
</layout>



<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} >
        <title>{pageTitle}</title>
    </head>

    <body>

<Navigation />
<h1>{pageTitle}</h1>
<h2>... and my new Astro site!</h2>

<h2>This website was made by {identity.firstName} {identity.lastName}!
    Foreign currencies have piqued my intrest for as long as i can remember.
    {showLocation && <p>I reside in {identity.location}, {identity.country}.</p>}
    My interests include {identity.interests.join(", ")}.
    My favorite of them include {identity.interests[0]} and {identity.interests[2]}.

    <p>Few skills from most to lease favorite:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>



    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {grade === 3 ? <p>I am in high school</p> : <p>I am not in high school</p>}
</h2>
</body>
</html>

<style define:vars={{skillColor}}>
    h1 {
        color: purple;
        font-size: 4rem;
    }
    .skill {
        font-weight: bold;
        color: var(--skillColor);
    }
</style>